Equipment/ServiceControl/Service References/EasyJoinServiceReference/EasyJoinService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="InsertEquipmentData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="commNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="receiveString" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="level" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertEquipmentDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertEquipmentDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteEquipmentData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="commNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteEquipmentDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteEquipmentDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="InsertEquipmentDataSoapIn">
    <wsdl:part name="parameters" element="tns:InsertEquipmentData" />
  </wsdl:message>
  <wsdl:message name="InsertEquipmentDataSoapOut">
    <wsdl:part name="parameters" element="tns:InsertEquipmentDataResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteEquipmentDataSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteEquipmentData" />
  </wsdl:message>
  <wsdl:message name="DeleteEquipmentDataSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteEquipmentDataResponse" />
  </wsdl:message>
  <wsdl:portType name="EasyJoinServiceSoap">
    <wsdl:operation name="InsertEquipmentData">
      <wsdl:input message="tns:InsertEquipmentDataSoapIn" />
      <wsdl:output message="tns:InsertEquipmentDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEquipmentData">
      <wsdl:input message="tns:DeleteEquipmentDataSoapIn" />
      <wsdl:output message="tns:DeleteEquipmentDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EasyJoinServiceSoap" type="tns:EasyJoinServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertEquipmentData">
      <soap:operation soapAction="http://tempuri.org/InsertEquipmentData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEquipmentData">
      <soap:operation soapAction="http://tempuri.org/DeleteEquipmentData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EasyJoinServiceSoap12" type="tns:EasyJoinServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertEquipmentData">
      <soap12:operation soapAction="http://tempuri.org/InsertEquipmentData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEquipmentData">
      <soap12:operation soapAction="http://tempuri.org/DeleteEquipmentData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EasyJoinService">
    <wsdl:port name="EasyJoinServiceSoap" binding="tns:EasyJoinServiceSoap">
      <soap:address location="http://localhost:51878/EasyJoinService.asmx" />
    </wsdl:port>
    <wsdl:port name="EasyJoinServiceSoap12" binding="tns:EasyJoinServiceSoap12">
      <soap12:address location="http://localhost:51878/EasyJoinService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>